// Main colours
$background-colour: #121212;
$main-colour: #1e1e1e;
$primary-colour: #BB86FC;
$secondary-colour: #03DAC5;
$text-colour: white;
$main-gradient: linear-gradient(to right, #fc00ff, #00dbde);

// Category specific colours
$web: #BB86FC;
$html: orangered;
$css: purple;
$javascript: #ecdb54;
$node: #43853d;
$typescript: #294E80;
$dart: #32A4C6;
$flutter: #1489FD;
$git: #dd4132;
$meme: #ce3175;