@import 'Variables';

.card-block {
    .card {
        display: flex;
        flex-direction: column;
        background-color: $background-colour;
        width: 300px;
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
        box-shadow: $box-shadow;
        transform: translateZ(0);
        transition-duration: 0.3s;
        transition-property: transform;
        min-height: 280px;
        max-height: 280px;

        h1 {
            margin: 20px 0 20px 0;
            font-size: 1.6rem;
        }

        p {
            margin: 10px 0 10px 0;
            font-size: 1.4rem;
        }

        .temp-fix {
            padding-top: 30px;
        }

        .bottom-row {

            .date {
                float: left;
            }
            
            .tag {
                float: right;
                background: $alt-gradient;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .card:hover,
    .card:focus,
    .card:active {
        transform: scale(1.1);
    }
}