@import 'Variables';

body {
    background: $main-gradient;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    margin: 0;

    .highlights {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: $main-gradient;
        height: 428px;
    }

    .content-block {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1111px;

        div {
            background-color: $background-colour;
            box-shadow: $box-shadow;
            margin: 10px 0 10px 0;
            padding: 10px;
            border-radius: 10px;
            
            a {
                color: $main-colour;
                text-decoration: none;
                font-weight: bold;
            }

            a:hover {
                color: $alt-colour;
            }
        }

        .links {
            display: flex;
            flex-direction: column;

            h1 {
                margin-bottom: 0;
            }

            a {
                margin-top: 10px;
            }
        }
    }
}