.nav-bar {
    text-align: center;
    font-size: 1.2rem;

    div {
        margin-top: 11px;
        margin-bottom: 11px;
        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding-left: 40px;
        }
        .search-box {
            width: 615px;
            height: 50px;
            padding: 0 10px 0 10px;
            margin-left: 40px;
            border: 1px solid;
            border-color: #0063FF;
            border-radius: 15px;
            font-size: 1.2rem;
        }
    }
}