@import 'Variables';

main {
    display: flex;
    justify-content: center;

    .page-content {
        align-self: center;
        display: flex;
        flex-direction: column;
        background-color: $main-colour;
        padding: 20px;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 800px;

        .info {
            h1 {
                color: $primary-colour;
                margin: 20px 0 20px 0;
            }
        
            p {
                margin: 10px 0 10px 0;
                font-size: 1.4rem;
                color: white;
            }
        
            .bottom-row {
                .date {
                    float: left;
                }
                
                .tag {
                    float: right;
                    background-color: #BB86FC;
                    color: #121212;
                    padding: 5px;
                    border-radius: 3px;
                }
            }
        }
    
        .content {
            p {
                color: $text-colour;
            }

            h2 {
                color: $secondary-colour;
            }

            a {
                text-decoration: none;
                color: $secondary-colour;
            }
            a:hover {
                color: $primary-colour;
            }
        }
    }
}