// Colours
$background-colour: white;
$main-colour: #0063FF;
$alt-colour: #E431FF;
$text-colour: black;
$main-gradient: linear-gradient(to right, #00EEFF 0%, #0063FF 40%);
$alt-gradient: -webkit-linear-gradient(#E431FF 25%, #6531FF 100%);
$box-shadow: 5px 5px 20px rgb(65, 64, 64);