main .content {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  color: white;
  text-align: justify;
  max-width: 1000px; }
  main .content h1 {
    text-align: center;
    color: #BB86FC; }
  main .content h2 {
    margin: 0;
    color: #03DAC5; }
  main .content .middle {
    margin: 0; }
  main .content .last {
    margin-top: 0px;
    margin-bottom: 21px; }
    main .content .last .link {
      text-decoration: none;
      color: white; }
    main .content .last .link:hover {
      color: #BB86FC; }
  main .content .my-links {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column; }
    main .content .my-links a {
      margin-top: 10px;
      text-decoration: none;
      color: #03DAC5; }
    main .content .my-links a:hover {
      color: #BB86FC; }
