main .content {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  color: white;
  text-align: justify;
  max-width: 910px; }
  main .content h1 {
    color: #BB86FC; }
  main .content .categories-list .tag {
    display: inline-block;
    color: #121212;
    padding: 8px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 1px;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform; }
  main .content .categories-list .tag:hover,
  main .content .categories-list .tag:focus,
  main .content .categories-list .tag:active {
    transform: scale(1.1); }
  main .content .categories a {
    text-decoration: none;
    color: white; }
  main .content .categories #web h2 {
    text-decoration: underline #BB86FC; }
  main .content .categories #web a:hover {
    color: #BB86FC; }
  main .content .categories #html h2 {
    text-decoration: underline orangered; }
  main .content .categories #html a:hover {
    color: orangered; }
  main .content .categories #css h2 {
    text-decoration: underline purple; }
  main .content .categories #css a:hover {
    color: purple; }
  main .content .categories #javascript h2 {
    text-decoration: underline #ecdb54; }
  main .content .categories #javascript a:hover {
    color: #ecdb54; }
  main .content .categories #node h2 {
    text-decoration: underline #43853d; }
  main .content .categories #node a:hover {
    color: #43853d; }
  main .content .categories #typescript h2 {
    text-decoration: underline #294E80; }
  main .content .categories #typescript a:hover {
    color: #294E80; }
  main .content .categories #dart h2 {
    text-decoration: underline #32A4C6; }
  main .content .categories #dart a:hover {
    color: #32A4C6; }
  main .content .categories #flutter h2 {
    text-decoration: underline #1489FD; }
  main .content .categories #flutter a:hover {
    color: #1489FD; }
  main .content .categories #git h2 {
    text-decoration: underline #dd4132; }
  main .content .categories #git a:hover {
    color: #dd4132; }
  main .content .categories #meme h2 {
    text-decoration: underline #ce3175; }
  main .content .categories #meme a:hover {
    color: #ce3175; }
